documentation/documentation.aux
documentation/documentation.fdb_latexmk
documentation/documentation.lof
documentation/documentation.log
documentation/documentation.synctex.gz
documentation/documentation.toc
