body {
    min-width: 1200px;
    font-family: Verdana;
    font-size: 12px;
}

h1 {
    font-size: 14px;
    font-weight: bold;
}

.box {
    padding: 0px 10px 10px 10px;
    border: 1px solid darkgray;
    border-radius: 4px;
    min-height: 290px;
}

#simulation {
    float: left;
}

#view_controls {
    width: 50px;
    float: left;
}
#view_controls button {
    width: 45px;
}

input[type="range"] {
    width: 200px;
}

.vertical-range {
    -webkit-appearance: slider-vertical;
    width: 20px !important;
    height: 200px;
}

.vertical-range-box {
    float: left;
    width: 70px;
}

#map_state_to_mode_panel {
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}

#mode_graph {
    /*margin-left: 120px;*/
    float: left;
}

#state_to_mode_presets {
    float: left;
    margin-top: 1em;
}

#top-panel {
    float: left;
}

#bottom-panel {
    float: left;
}

#controls {
    float:left;
    width: 435px;
}

#right_side {
    float:left;
}

#simni_title #title_text {
    text-align: right;
    width: 100%;
    float: right;
}

#simni_title #title_title {
    font-size: 12pt;
}

#phase_space_plot {
    width:300px;
    height:300px;
    margin-right: 5px;
    margin-bottom: 10px;
    float:left;
    background-color:lightgrey;
}

#motor_torque_plot {
    margin-bottom: 10px;
    width:300px;
    height:300px;
    float:left;
    background-color:lightgrey;
}

#semni_posture_controls {
    float: left;
    width: 230px;
}

#posture-graph {
    float: left;
    width: 1100px;
}

#graph_controls {
    float: left;
    width: 370px;
}

#manifold_view {
    float:left;
    padding: 0px 0px 10px 0px;
    width: 302px;
}

#simulation canvas {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#viewport_svg {
    width: 1400px;
    height: 850px;
}

#state_to_mode_mapping {
    float:left;
    margin-bottom: 10px;
    width:300px;
    height:300px;
}

#state_to_mode_mapping svg {
    position: absolute;
}

/* d3 styles */
svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

rect.extent {
  fill: #000;
  /*fill-opacity: .125;*/
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: .5;
}


.contraction {
    fill: orange;
}

.release {
    fill: red;
}
.support {
    fill: blue;
}
.hold {
    fill: green;
}

/* svg */
line {
    stroke-width: 1;
    fill: none;
}

text {
  font-family: Verdana, sans-serif;
  font-size: 7pt;
  text-anchor: middle;
  fill: #333333;
}
